body {
/* font-family: "Open Sans", "Century Gothic", "Lato", sans-serif; */
/* } */
font-family: "Open Sans",sans-serif;

}

a {
text-decoration: none;
}

.et-hero-tabs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
position: relative;
background: #eee;
padding: 0 2em;
}

.et-slide {
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
background: #eee;
padding: 0 2em;
}

.quienes {
  height: 179vh;
}

.contacto, .modelo {
  height: 100vh
}

.et-hero-tabs h1,
.et-slide h1 {
font-size: 2rem;
margin: 0;
letter-spacing: 0.3rem;
}
.et-hero-tabs h3,
.et-slide h3 {
font-size: 1rem;
letter-spacing: 0.1rem;
opacity: 0.6;
}

.et-hero-tabs-container {
display: flex;
flex-direction: row;
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
background: #fff;
z-index: 10;
}
.et-hero-tabs-container--top {
position: fixed;
top: 0;
}

.et-hero-tab {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
color: #000;
letter-spacing: 0.1rem;
transition: all 0.5s ease;
font-size: 0.8rem;
}
.et-hero-tab:hover {
color: white;
background: rgba(102, 177, 241, 0.8);
transition: all 0.5s ease;
}

.et-hero-tab-slider {
position: absolute;
bottom: 0;
width: 0;
height: 6px;
background: #66b1f1;
transition: left 0.3s ease;
}

/* inicio estilos personales */

.quienes-parrafo {
  max-width: 50rem;
  padding-left: 2rem;
}

.quienes-video {
  width: 100vh;
  height: 100vh;
  align-self: flex-end;
}

.contacto-mapa {
  width: 50%;
  height: 50%;
}

/* fin estilos personales */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 100;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  /* border-radius: 30%; */
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.icon-bar a {
  /* background-color: rgba(27, 89, 196, .5); */
  color: black;
}
@media (min-width: 800px) {
.et-hero-tabs h1,
.et-slide h1 {
font-size: 3rem;
}
.et-hero-tabs h3,
.et-slide h3 {
font-size: 1rem;
}

.et-hero-tab {
font-size: 1rem;
}
